<ion-view view-title="{{'interesting_places_txt' | translate}}">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>
  <ion-content padding="true">
    <ion-content>
        <div class="post-content item item-text-wrap">
            <div class="list">

                <a ng-repeat="item in nearPanos" ui-sref="visit({visitId: item.id})" class="item item-thumbnail-left">
                    <img ng-src="{{ item.thumbnail }}">
                    <h2><strong>{{ item.title }}</strong></h2> <h3>({{ item.city }})</h3>
                    {{ item.description | limitTo: 95 }}{{item.description.length > 95 ? '...' : ''}}
                </a>

            </div>
        </div>
    </ion-content>
  </ion-content>
</ion-view>
