<ion-side-menus enable-menu-with-back-views="true">

 <ion-side-menu-content>
   <ion-nav-bar class="bar-dark nav-title-slide-ios7">
   </ion-nav-bar>
   <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
 </ion-side-menu-content>

 <ion-side-menu side="left">
   <!-- Sidebar Content -->
   <ion-content class="gem-sidebar dark">
     <!-- Menu de la izquierda -->
     <ion-list>
       <ion-item>
         <div class="row gem-sidebar-profile-box">
           <div class="col">
             <div><img src="img/logo1.png" alt="" width="65%" align="left"></div>
           </div>
         </div>
       </ion-item>
       <ion-item  class="menu-profile-container" menu-toggle="" href="#/app/profile/{{id_user}}" ng-if="hasImage()">
               <img class="menu-profile-avatar" ng-src="{{foto}}" height="40px">
               <span class="menu-profile-name">{{nombre}}</span>
       </ion-item>
       <ion-item  menu-toggle="" href="#/app/home"><i class="icon ion-home"></i>&nbsp; &nbsp; &nbsp;       {{&quot;home_txt&quot; | translate}}</ion-item>
       <ion-item  menu-toggle="" href="#/app/recent"><i class="icon ion-asterisk"></i>&nbsp; &nbsp; &nbsp;       {{&quot;new_posts_txt&quot; | translate}}</ion-item>
       <ion-item   menu-toggle="" ng-click="goPub()"><i class="icon ion-aperture"></i>&nbsp; &nbsp; &nbsp;       {{&quot;publish_txt&quot; | translate}}</ion-item>
       <ion-item  menu-toggle="" href="#/app/routes"><i class="icon ion-android-compass"></i>&nbsp; &nbsp; &nbsp;      {{&quot;routes_txt&quot; | translate}}</ion-item>
       <ion-item  menu-toggle="" href="#/app/search"><i class="icon ion-android-search"></i>&nbsp; &nbsp; &nbsp;      {{&quot;search_txt&quot; | translate}}</ion-item>
       <ion-item  menu-toggle="" href="#/app/near"><i class="icon ion-android-locate"></i>&nbsp; &nbsp; &nbsp;      {{&quot;near_here_txt&quot; | translate}}</ion-item>
       <ion-item menu-toggle="" href="#/config"><i class="icon ion-android-settings"></i>&nbsp; &nbsp; &nbsp;      {{&quot;config_txt&quot; | translate}}</ion-item>
       <ion-item  menu-toggle="" href="#/about"><i class="icon ion-information-circled"></i>&nbsp; &nbsp; &nbsp;      {{&quot;about_txt&quot; | translate}}</ion-item>
       <ion-item menu-toggle="" href="#/logout"><i class="icon ion-log-out"></i>&nbsp; &nbsp; &nbsp;      {{&quot;logout_txt&quot; | translate}}</ion-item>
     </ion-list>
   </ion-content>
</ion-side-menu>
<div class="add-pano-button" ng-click="goPub()" ></div>
</ion-side-menus>
