<ion-view view-title="{{'search_location_txt' | translate}}">
  <ion-nav-buttons side="left" class="bar-dark">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>

    <ion-content style="text-align: center">
      <div class="item">
        <br />
      </div>
      <div class="item">
        <img src="img/radar-3-256x256.png" alt="" width="90%">
      </div>
      <div class="item">
        <br />
        <h2>{{'search_near' | translate}}</h2>
      </div>
    </ion-content>

</ion-view>
