  <!-- Title for header bar (refer to www/index.html) the bar is hidden-->
  <ion-view hide-nav-bar="false" view-title="{{'route_details_txt' | translate}}" cache-view="false">
    <ion-nav-bar class="bar-dark">
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <div ng-include="'route_header1.html'"></div>

    <!-- ======================
    GEMIONIC CONTENT
    ====================== -->
    <ion-content class="gem-ion-content single-post">
      <br />
      <!-- Post media (sidebar button, picture, tags, and title) -->
      <div class="gem-post-media">


        <!-- post image -->
         <div id="PanoWrapper" class="w2w-td-thumb normalPano" ng-style="{'background-image':'url(' + route.thumbnail + ')'}">
  		 	 </div>

        <!-- Post title -->
        <h3 class="post-title">{{route.title}}</h3>

        <!-- bottom shadow -->
        <div class="bottombar-and-shadow"></div>

      </div>

      <!-- Post Content -->
      <div class="gem-post-content">
        <p>{{route.description}}</p>

        <!-- Quote Style -->
        <div class="gem-quote">
          {{route.province}}
        <span class="author">{{route.country}}</span>
        </div>
        <!-- End Quote -->

        <!-- Article Actions
        <div class="row article-actions">
          <button class="button button-borderless button-small gem-success uppercase">
            <i class="icon ion-thumbsup"></i> Like
          </button>
          <button class="button button-borderless button-small gem-primary uppercase">
            <i class="icon ion-plus-circled"></i> Add to favourites
          </button>
          <div class="button button-small gem-outline">
            <i class="icon ion-more gem-icon"></i>
          </div>
        </div>
        End Article Actions -->

      </div>

    </ion-content>
  </ion-view>
